@page "/"
<PageTitle>Personal Finance Manager - Overview</PageTitle>

<h1>Overview</h1>

<h3>Bank 1</h3>
Savings: <br>
Checking: <br><br>

<h3>Bank 2</h3>
Savings: <br>
Checking: <br>

@code
{
    PersonalFinanceManager.Bank bank1 = new PersonalFinanceManager.Bank("Mountain America Credit Union");
    
}